<h1>Ingrese su producto</h1>
    <form method="post" action="/products">
        <label>Nombre del producto:</label>
        <input name="product">
        <label>Precio del producto:</label>
        <input name="price">
        <label>URL de la imágen del producto:</label>
        <input name="url">
        <button type="submit">Guardar</button>
        <a href="/products"><button>Ver productos</button></a>
    </form>

