<h1 class="title">Ingrese su producto</h1>
    <form class="form" method="post">
        <label>Nombre del producto:</label>
        <input name="product">
        <label>Precio del producto:</label>
        <input name="price">
        <label>URL de la imágen del producto:</label>
        <input name="url">
        <button class="btn" type="submit">Guardar</button>
    </form>
    <a href="/products"><button class="btnProducts">Ver productos</button></a>
