<h1 class="title">Productos</h1>
<ul class="list">
    {{#each products}}
    <li class="items">{{this.product}}, {{this.price}},<img src={{this.url}} alt="imagen"></li>
    {{/each}}
</ul>
<a href="/"><button class="btnProducts">Volver</button></a>